/*qr style*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap');



body {
    background-color: hsl(212, 45%, 89%);
}

.card{
    margin-top: 15%;
    padding:16px;
    padding-bottom: 40px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    font-family: "Outfit";
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
}

.card h1{
    color: hsl(218, 44%, 22%);
    display: block;
    font-size: 20px;
}
p{
    font-size: 15px;
}

img{
    width: 100%;
    border-radius: 15px;
}
footer{
    margin-top: 5%;
}

@media screen and (max-width: 375px) {
    .card{
        margin-top: 40%;
        padding:16px;
        padding-bottom: 40px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: hsl(0, 0%, 100%);
        text-align: center;
        font-family: "Outfit";
        border-radius: 15px;
    }
    
    .card h1{
        color: hsl(218, 44%, 22%);
        display: block;
        font-size: 25px;
    }
    p{
        font-size: 15px;
        margin-left: 4%;
        margin-right: 4%;
        
    }
    .text{
        margin-left: 4px;
        margin-right: 4px;
    }

    footer{
        margin-top: 30%;
    }
}